

*{
    color:#000;
}

.form-container{
    border-radius: 35px;
    background-color: rgba(255,255,255,0.8);
    
}

.search-bar{
    
    display: block;


}

.label-text{

    color: #fff;

}

.gameSearchBox{
    margin: auto;
    
    width: 50%;
}
.checkboxPlat{
    padding-right: 15px;
    margin:auto;
}

.checkboxGen{
    margin: auto;
}